/* Dodaj poniższe style dla inputa textowego */
input[type="text"] {
  padding: 10px;
  margin: 10px auto; /* Zmieniono margin na auto, aby wyśrodkować */
  display: block; /* Zapewnia, że input jest blokowy, co pozwala na ustawienie marginesów */
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Zaktualizuj styl dla .post-item */
.post-item {
  max-width: 400px;
  margin: 20px auto;
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative; /* Dodaj pozycję względną */
}



/* Dodaj styl dla zaznaczonego elementu */
.selected {
  background-color: lightblue;
}

/* Zaktualizuj styl dla p */
.post-item p {
  text-align: left;
  margin-bottom: 10px; /* Dodaj odstęp między paragrafami */
}

/* Dodaj styl dla .post-comment */
.post-comment {
  max-width: 400px;
  margin: 10px auto;
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Dodaj styl dla zaznaczonego postu */
.selectedPost {
  background-color: rgba(235, 253, 17, 0.91);
}

/* Dodaj styl dla menu */
button[mat-icon-button] {
  position: absolute;
  top: 10px;
  right: 10px;
}
/* Dodaj poniższe style dla .profil-span */
.profil-span {
  font-size: 1.8em; /* Lub dostosuj odpowiednią wielkość czcionki */
  cursor: pointer; /* Dodaj efekt kursora na pointer, aby wskazywać na to, że element jest interaktywny */
  display: inline-block; /* Zapewnia, że element span może mieć ustawienia szerokości i wysokości */
  transition: color 0.3s ease-in-out;
}

/* Dodaj styl dla zaznaczonego elementu podczas najechania myszką */
.profil-span:hover {
  text-decoration: underline;
  color: blue
}
