<div id = "container">

  <form [formGroup]="form" (ngSubmit)="dodajPost()">
    <h1>Dodaj Post</h1>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title"(blur)="onBlur('title')">
      <div *ngIf="fieldBlurred['title']&&title.invalid && (title.dirty || title.touched)" class="error-message">Title: min 4, max 20</div>
    </mat-form-field><br>

    <mat-form-field>
      <mat-label>Content</mat-label>
      <input matInput type="text" formControlName="content" (blur)="onBlur('content')">
      <div *ngIf="fieldBlurred['content']&&content.invalid && (content.dirty || content.touched)" class="error-message">Content: min 4</div>
    </mat-form-field><br>

    <button mat-raised-button color="but" type="submit" [disabled]=form.invalid>Wyślij</button>

  </form>
</div>
