h1 {
  color: #2c3e50;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;

}

.zarejestruj_button {
  margin-top: 20px; /* Dodanie odstępu od góry przycisku */
  align-self: center;
}
